# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\BaiduNetdiskDownload\【No1374】SpringBoot+Vue 开发博客系统完整项目\vueblog-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
